/* Style for "Your Name" tab on navbar */
.navbar-brand {
    font: white;
    font-family: "Amiri", serif;
    font-size: 35px;
    font-weight: bolder;
    background-color: rgb(16, 180, 180);
}

/* Link to brick background applied to body of website */
body {
    background-image: url("https://www.zingerbug.com/Backgrounds/background_images/light_gray_bricks_pattern.gif");
}

/* "About Me" style modifications */
h1  {
        font-family: "Amiri", serif;
        font-size: 35px;
        font-weight: bolder;
        color: rgb(16, 180, 180);
        padding-top: 30px;
        padding-bottom: 20px;
/* Style modifications for line under "About me" heading */
        text-decoration-line:underline;
        text-decoration-color: rgb(219, 207, 185)
}

.container {
    /* width: 50%;
    margin-left: 2%; */
}
section {
    background-color: white;
}

